.blog {
    border: 1px;
    background-color: rgb(52, 52, 71);
    width: 1020px;
    height: 200px;
    text-align: center;
}
#blog-title {
    text-align: center;
    color: aliceblue;
}
#blog-text{
    color: rgb(54, 54, 80);
}