#page {
    max-width: 1024px;
    margin: 0 auto;
}
.blog {
    border: 1px;
    background-color: rgb(59, 59, 79);
    width: 1020px;
    height: 200px;
    text-align: center;
}
#blog-title {
    text-align: center;
    color: aliceblue;
}
#blog-text{
    color: rgb(105, 138, 214);
}

#title0{
    text-transform: uppercase;
    color: rgb(215, 230, 230);
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-header-right img{
    padding: 0px;
border-radius: 50%;
width: 40px;
height: 40px;
}

#text0{
    color: gray;
}

#text1 {
    color: rgb(53, 53, 171);
}

#text2{
    background-color: greenyellow;
}

#text3{
    background-color: blue;
}

#title1{
    text-transform: uppercase;
    color: rgb(215, 230, 230);
}

#font0{
    color: gray;
}

#font1 {
    color: rgb(53, 53, 171);
}

#font2{
    background-color: red;
}

.section-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section-body-right img{
    padding: 0px;
border-radius: 50%;
width: 40px;
height: 40px;
}

#photo0{
    color: gray;
}

#photo1 {
    color: rgb(53, 53, 171);
}

#photo2{
    background-color: rgb(71, 71, 71);
}
#car1 {
    height: 400px;
    width: 500px;
}
#car2 {
    height: 400px;
    width: 500px;
}
#endtitle {
    text-align: center;
    color: white;
   background-color: rgb(55, 55, 55); 
   height: 100px;
   padding: 50px;
   width: 920px;
}
#cars {
    display: flex;
}
.car1 , .car2{
    position: relative;
}
#cars p {
    position: absolute;
    top: 350px;
    color: azure;
    left: 50px;
}